.signup-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px;
}

button#sign-up-button{
    align-self: center;
    width: 80%;
    background-color: #ff5a5f;
    color: #ffffff;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
}

button#sign-up-button:disabled {
    background-color: #ffffff;
    color: #cccccc;
    border-color: #cccccc;
    cursor: default;
}
