.events-list-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    width: 50%;
}

.events-list-item {
    display: flex;
    flex-direction: column;

    height: 170px;
    width: 544px;

    border-bottom: solid 2px #cccccc;

    padding: 10px;
}

.events-list-item:hover {
    box-shadow: 10px 5px 5px #cccccc;
}

.events-list-item-info{
    display: flex;
    padding: 10px 0 10px 10px;
}

.events-list-item-image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 178px;
    height: 124px;

    text-decoration: none;
    margin-right: 20px;
}

.event-preview-img {
    height: 124px;
    width: 178px;
    object-fit: cover;
    border-radius: 5%;
}

.events-list-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.events-list-item-about {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
