.group-details-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
}

.group-details-page {
    width: 80%;
}

.group-details-group-info{
    display: flex;
    padding: 10px 0px;
}

.group-info-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 544px;
    height: 320px;
    margin-right: 30px;
}

.group-info-preview-img {
    height: 320px;
    width: 544px;
    object-fit: cover;
    border-radius: 5%;
}

h2#subtitle {
    margin-bottom: 30px;
}

.group-info-location, .group-info-cetera, .group-info-organizer {
    margin-bottom: 10px;
}

.group-info-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 800px;
}

.group-button {
    display: flex;
    justify-content: center;
}

.group-details-extra-info {
    height: 100%;
    width: 100vw;
    background-color: lightgray;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.extra-info-group-details {
    width: 80%;
}

button#viewer-button{
    background-color: red;
    border: 1px solid red;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 10%;
}

button#viewer-button:hover {
    border: 1px solid hsl(0, 100%, 50%, .7);
    background-color: hsl(0, 100%, 50%, .7);
}

.group-details-events{
    width: 80%;
}

.group-events-card-background {
    display: flex;
    width: 500px;
    text-decoration: none;
    color: #000000;
}

.group-events-card{
    background-color: #ffffff;
    border-radius: 15px;
    width: 500px;
    min-height: 250px;
    margin: 10px;
}

.group-events-card-top {
    display: flex;
}

.group-events-card-img {
    display: flex;
    align-items: center;
    text-align: center;

    height: 127px;
    width: 178px;

    padding: 10px 0px 10px 10px;
    margin-right: 10px;
}

.group-event-card-preview-img {
    height: 127px;
    width: 178px;
    object-fit:cover;
    border-radius: 5%;
}

.group-events-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
}

.group-events-card-description {
    overflow: hidden;
    max-height: 500px;
    padding: 0px 10px;
}

.organizer-button > button {
    background-color: #999999;
    margin: 5px;
}
