.landing-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-section-1{
    display: flex;
    width: 80%;
}

.landing-1-left{

    display: flex;
    flex-direction: column;

    width: 50%;
}

.landing-1-right{
    display: flex;
    justify-content: center;
    width: 50%;
}

#info-img {
    max-width: 425px;
}

#intro-text{
    font-size: 14px;
}

.landing-section-2 {

    width: 80%;
}

.landing-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subtitle-caption{
    font-size: 14px;
    width: 25%;
    text-align: center;
}

.landing-section-3 {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.landing-3-card{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 250px;
    height: 275px;
}

.card-text{
    font-size: xx-small;
}

#no-user-new-group {
    margin: 0;
}

.landing-section-4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.landing-section-4 > button {
    cursor: pointer;
}

p#title {
    font-size: 24px;
    font-weight: bold;
}

p#subtitle {
    font-size: 18px;
    font-weight: bold;
}

.landing-section-4 > button {
    background-color: hsl(0, 0%, 80%);
    color: #ffffff;

    width: 120px;
    height: 30px;
}

.landing-3-card > a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #00525e
}

.landing-3-card > a:hover {
    text-decoration: underline;
}

p#no-user-new-group{
    font-size: 18px;
    font-weight: bold;
    color: #cccccc;
}

.card-text{
    text-align: center;
}
