.event-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-form-name {
    border-bottom: solid 2px #cccccc;
}

.event-form-physical-info {
    border-bottom: solid 2px #cccccc;
}

.event-form-time-info {
    border-bottom: solid 2px #cccccc;
}

.event-form-image {
    border-bottom: solid 2px #cccccc;
}

.event-form-description {
    border-bottom: solid 2px #cccccc;
}

.event-form-submit-button {
    background-color: #ff5a5f;
    color:#ffffff;
    width: auto;
}
