#error {
    color: #ff5a5f;
}

.group-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-form-instructions {
    border-bottom: solid 2px #cccccc;
}

.group-form-set-location {
    border-bottom: solid 2px #cccccc;
}

.group-form-set-name {
    border-bottom: solid 2px #cccccc;
}

.group-form-set-about {
    border-bottom: solid 2px #cccccc;
}

.group-form-final-sets {
    border-bottom: solid 2px #cccccc;
}

.group-form-submit-button {
    background-color: #ff5a5f;
    color:#ffffff;
    width: auto;
}
