
.hidden {
    display: none
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 70px;


    border-bottom: solid 2px #cccccc;
}

.navigation-right-side {
    width: auto;
    padding: 0 20px;
}

.header-logo{
    display: flex;
    align-items: center;
    padding: 0 20px;
}

a#logo {
    font-size: 24px;
    font-weight: bold;
    font-family: "Dancing Script", cursive;
    color: #ff5a5f;
    text-decoration: none;
    padding: 10px;
}

a#new-group {
    font-size: 14px;
    text-decoration: none;
    color: #00525e;
}

button#profile {
    background-color: transparent;
    cursor: pointer;

    border: none;
    outline: none;

    text-align: center;
}

.fa-user-circle {
    padding: 5px;
    color: #ff5a5f;
}

.profile-dropdown {
    list-style: none;
    position: absolute;
    right: 10px;
    background-color: #ffffff;
    border: solid 1px #000000;
    width: 190px;

    padding: 0px;
}

.profile-dropdown > li {
    margin: 5px 0;
}

.profile-dropdown > li:hover {
    color: #008fa3;
}

#not-click {
    color: #000;
}

button#profile-logout {
    outline: none;
    background-color: #ffffff;
    border-color: #cccccc;

    height: 21px;
    width: 155px;

    cursor: pointer;
    text-align: center;
}

li#modal-menu-item {
    cursor: pointer;
}

button#profile-logout{
    width: 190px;
}
