div#modal-content{
    border-radius: 15px;
    width: 35%;
}

.log-in-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-in-title{
    text-align: center;
}

.log-in-form{
    display: flex;
    flex-direction: column;

    margin: 20px;
    height: 150px;
    width: 80%;
}

.demo-log-in {
    align-self: center;
    color: #00525e;
    cursor: pointer;
    text-align: center;
    margin: 20px;
    width: 90px;
}

.demo-log-in:hover {
    text-decoration: underline;
}

.log-in-form-elements {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

label,input{
    display: flex;
    flex-direction: column;
    width: 95%;
    align-self: center;
}

button#log-in-button{
    width: 80%;
    height: 50px;
    background-color: #ff5a5f;
    color: #ffffff;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 35px;
}

button#log-in-button:disabled {
    background-color: #ffffff;
    color: #cccccc;
    border-color: #cccccc;
    cursor: default;
}
